
container {
	height: 500px;
	width: 300px;
	background: #fff;
}

h2 {
	font-size: 60px;
}

ul.li {
	font-size: 25px;

 }

.btn {
	margin-top: -10px;
}

.span6.offset3 {
	margin-top: 100px;
}

#zipcode {
	margin-left: 40px;
}

#weather {
	margin-top: 15px;
	margin-left: 40px;
}